* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
}

::selection {
    color: #fefefe;
    background: #b8916d;
}

body {

}

.site-background {
    position: fixed;
    z-index: -100;
    width: 100vw;
    height: 100vh;
    filter: grayscale(1) blur(10px);
    background-image: url(resources/image/cover8.jpg);
    background-size: cover;
    background-position: center center;
}

.site-wrapper {
    max-width: 1400px;
    margin: auto;
    background-color: black;
    box-shadow: 0 0 30px black;
    transition: all .5s;
    
}

.hide-site {
    position: fixed;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 1);
    opacity: 0;
    z-index: 90;
    transition: opacity 1s;
}

/* HERO */

.hero {
    padding: 160px 0 160px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1) ), url(resources/image/cover2.jpg);
    background-size: cover;
    background-position: right top;
    color: #fefefe;
    transition: all 1s;
}

.hero h1 {
    font-family: 'Cinzel', serif;
    font-size: 40px;
    margin-bottom: 64px;
}

.hero h2 {
    font-family: 'Cinzel', serif;
    font-weight: 300;
    font-size: medium;
}

.hero-button {
    padding: 10px 16px 10px 16px;
    background-color: transparent;
    border: 1px solid #fefefe ;
    color: #fefefe;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    opacity: .8;
    transition: all .5s;
    cursor: pointer;
}

.hero button i {
    margin-left: 16px;
}

.hero button:hover {
    /*background-color: rgba(255, 255, 255, .2);*/
    scale: 1.1;
    opacity: 1;
}



/* INTRODUCTION */

.intro {
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: #e4e0de;
}

.intro-text {
    font-family: 'Cinzel', serif;
    flex: 1 1 400px;
    color: rgba(0, 0, 0, .6);
    padding: 50px 72px 50px 50px;
}

.intro-text::before {
    content: '\2014';
    font-family: 'Gelasio', serif;
    font-weight: bold;
    font-size: 36px;
    color: #b8916d;
}

.intro-image {
    flex: 1 3 400px;
    min-height: 400px;
    background-image: url(resources/image/cover8.jpg);
    background-size: cover;
    background-position: center top;
    position: relative;
}

.intro-text h1 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #35302c;
    margin-bottom: 20px;
}

.intro-text > p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #35302c;
    text-align: justify;
}

.quote {
    margin-top: 50px;
    display: grid;
    color: #35302c;
    grid-template-columns: auto auto;
}

.quote::before {
    font-size: 100px;
    content: '\201c';
    color: #b8916d;
    padding-right: 20px;
    translate: 0 -30px;
    margin-bottom: -30px;
}

.quote .quote-text {
    font-family: 'Gelasio', serif;
    font-weight: lighter;
    font-size: 18px;
    text-align: justify;
}

.quote .quote-person {
    font-family: 'Gelasio', serif;
    font-weight: lighter;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 3;
}

.quote-person::before {
    content: '\2014\0020';
}

.top-of-image {
    background-color: rgba(0, 0, 0, .6);
    padding: 30px;
    color: #fefefe;
    margin: 0;
    position: absolute;
    bottom: 0;
}

/* VIDEOS */

.videos {
    background: linear-gradient(0deg, rgb(12, 12, 12), rgb(32, 32, 32));
    padding: 50px 0 50px 0;
    position: relative;
}

.videos h1 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #fefefe;
    margin-bottom: 20px;
    margin-left: 50px;
}

.videos::before {
    content: '\2014';
    font-family: 'Gelasio', serif;
    font-weight: bold;
    font-size: 36px;
    color: #b8916d;
    padding-left: 50px;
}

.videos-container {
    position: relative;
    width: 100%;
}

.videos-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 14px;
    padding: 24px 0 24px 50px;
    overflow: hidden;
}

.videos-button-holder {
    height: 100%;
    width: 80px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}

.videos-button-holder button {
    background-color: transparent;
    height: 200px;
    width: 100%;
    color: #fefefe;
    font-size: 32px;
    border: none;
    cursor: pointer;
    transition: all .25s;
    position: relative;
    overflow: hidden;
}


.videos-button-holder button:hover {
    font-size: 48px;
}

.videos-container .next {
    right: 0
} 

.videos-container .prev {
    left: 0;
}

.videos-container .next button  {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.videos-container .prev button  {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.video {
    z-index: 0;
    flex: 0 0 300px;
    height: 200px;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    opacity: .8;
}

.video:hover {
    box-shadow: 5px 5px 20px black;
}


.video i {
    display: table;
    margin: auto;
    height: 100%;
    color: white;
    font-size: 60px;
    pointer-events: none;
    opacity: .4;
    transition: all .8s;
}

.video i::before {
    display: table-cell;
    vertical-align: middle;
}

.video-title {
    position: absolute;
    bottom: 0;
    background-color: #b8916d;
    color: #efefef;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    translate: 0 100px;
    transition: all .25s;
    pointer-events: none;
}

.v1 {
    background-image: url(resources/image/cover3.jpg);
    background-size: cover;
    transform-origin: left;
}

.v2 {
    background-image: url(resources/image/cover4.jpg);
    background-size: cover;
}

.v3 {
    background-image: url(resources/image/cover5.jpg);
    background-size: cover;
}

.v4 {
    background-image: url(resources/image/cover6.jpg);
    background-size: cover;
}

.v5 {
    background-image: url(resources/image/cover7.jpg);
    background-size: cover;
}

.v6 {
    background-image: url(resources/image/cover1.jpg);
    background-size: cover;
}

.video-dialog {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    z-index: 100;
}

.video-player {
    margin: auto;
    width: 100%;
    height: 80%;
    padding: 30px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.video-dialog .video-menu {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #fefefe;
    width: 100%;
    height: 140px;
    background-image: linear-gradient(rgba(43, 43, 43, 0.1), rgba(43, 43, 43, .8)), url(resources/image/cover3.jpg);
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
}

.video-menu i {
    font-size: 24px;
    transition: all .25s;
    cursor: pointer;
}

.video-menu i:hover {
    scale: 1.5;
}

.video-dialog iframe {
    width: 100%;
    height: 80%;
    display: block;
    align-self: center;
    justify-self: center;
}

/* STORY */

.story {
    display: flex;
    background-image: url(resources/image/cover1.jpg);
    background-size: cover;
    background-position: center top;
}

.story-text {
    width: 100%;
    max-width: 600px;
    padding: 50px 72px 50px 50px;
    color: #fefefe;
    background: linear-gradient(90deg, rgba(0,0,0,1) 8%, rgba(0,0,0,0.6824930655856092) 55%, rgba(0,0,0,0) 100%);
}

.story-text::before {
    content: '\2014';
    font-family: 'Gelasio', serif;
    font-weight: bold;
    font-size: 36px;
    color: #b8916d;
}

.story-text h1 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin-bottom: 40px;
}

.story-text > p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    text-align: justify;
}

/* FOOTER */

.footer {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    background-color: black;
    color: #fefefe;
    padding: 70px 50px 70px 50px;
}

.footer-contact {
    display: flex;
    justify-content: end;
}

.footer-copy {
    display: block;
    text-align: center;
}

.footer i {
    margin: 8px;
    cursor: pointer;
    transition: scale .25s;
}

.footer i:hover {
    scale: 1.5;
    color: #b8916d;
}

/* navbar */

.bar {
    height: 300px;
    width: 100%;
    /*background-color: rgba(255, 0, 0, .3);*/
    background: transparent;
    z-index: 60;
    position: sticky;
    top: -1px;
    margin-top: -100px;
    margin-bottom: -200px;
    overflow: hidden;
    transition: all .5s;
    visibility: hidden;
}

.navbar {
    visibility: visible;
    position: absolute;
    z-index: 50;
    transition: all .5s;
    display: flex;
    translate: 380px 0;
    right: 0;
}

.navbar.open {
    translate: 0 0;
}

.navbar-menu {
    box-shadow: 0 0 20px black;
    width: 380px;
    background-color: #b8916d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-menu-item {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    margin: 14px 0 14px 0;
}

.navbar hr {
    border-color: #35302c;
    width: 80%;
}

.nav-icon-wrapper {
    padding: 20px;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, .4);
    transition: all .5s;
}
.nav-icon-wrapper.is-pinned {
    background-color: #b8916d;
}

/* hamburger menu */ 

.icon{
    margin:20px;
    
  }
  
  /* nav-icon-5 */
  .nav-icon{
    
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  .nav-icon span{
    background-color:#fff;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
    transition-duration: 500ms
  }
  .nav-icon span:nth-child(1){
    top:0px;
    left: 0px;
  }
  .nav-icon span:nth-child(2){
    top:13px;
    left: 0px;
    opacity:1;
  }
  .nav-icon span:nth-child(3){
    bottom:0px;
    left: 0px;
  }
  .nav-icon:not(.open):hover span:nth-child(1){
    transform: rotate(-3deg) scaleY(1.1);
  }
  .nav-icon:not(.open):hover span:nth-child(2){
    transform: rotate(3deg) scaleY(1.1);
  }
  .nav-icon:not(.open):hover span:nth-child(3){
    transform: rotate(-4deg) scaleY(1.1);
  }
  .nav-icon.open span:nth-child(1){
    transform: rotate(45deg);
    top: 13px;
  }
  .nav-icon.open span:nth-child(2){
    opacity:0;
  }
  .nav-icon.open span:nth-child(3){
    transform: rotate(-45deg);
    top: 13px;
  }