* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
}

::selection {
    color: #fefefe;
    background: #b8916d;
}

.site-background {
    position: fixed;
    z-index: -100;
    width: 100vw;
    height: 100vh;
    filter: grayscale(1) blur(10px);
    background-image: url(resources/image/cover8.jpg);
    background-size: cover;
    background-position: center center;
}

.site-wrapper {
    max-width: 1400px;
    margin: auto;
    background-color: black;
    box-shadow: 0 0 30px black;
}

/* HERO */

.hero {
    padding: 160px 0 160px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1) ), url(resources/image/cover2.jpg);
    background-size: cover;
    background-position: right top;
    color: #fefefe;
    transition: all 1s;
}

.hero h1 {
    font-family: 'Cinzel', serif;
    font-size: 40px;
    margin-bottom: 64px;
}

.hero h2 {
    font-family: 'Cinzel', serif;
    font-weight: 300;
    font-size: medium;
}

.hero button {
    padding: 10px 16px 10px 16px;
    background-color: transparent;
    border: 1px solid #fefefe ;
    color: #fefefe;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    transition: all .5s;
    cursor: pointer;
}

.hero button i {
    margin-left: 16px;
}

.hero button:hover {
    background-color: rgba(255, 255, 255, .2);
    scale: 1.1;
}

/* INTRODUCTION */

.intro {
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: #e4e0de;
}

.intro-text {
    font-family: 'Cinzel', serif;
    flex: 1 1 400px;
    color: rgba(0, 0, 0, .6);
    padding: 50px 72px 50px 50px;
}

.intro-image {
    flex: 1 3 400px;
    min-height: 400px;
    background-image: url(resources/image/cover8.jpg);
    background-size: cover;
    background-position: center top;
    position: relative;
}

.intro-text h1 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #35302c;
    margin-bottom: 20px;
}

.intro-text > p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #35302c;
    text-align: justify;
}

.quote {
    margin-top: 50px;
    display: grid;
    color: #35302c;
    grid-template-columns: auto auto;
}

.quote::before {
    font-size: 100px;
    content: '\201c';
    color: #b8916d;
    padding-right: 20px;
    translate: 0 -30px;
    margin-bottom: -30px;
}

.quote .quote-text {
    font-family: 'Gelasio', serif;
    font-weight: lighter;
    font-size: 18px;
    text-align: justify;
}

.quote .quote-person {
    font-family: 'Gelasio', serif;
    font-weight: lighter;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 3;
}

.quote-person::before {
    content: '\2014\0020';
}

.top-of-image {
    background-color: rgba(0, 0, 0, .6);
    padding: 30px;
    color: #fefefe;
    margin: 0;
    position: absolute;
    bottom: 0;
}

/* VIDEOS */

.videos {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(32, 32, 32));
    padding: 50px 0 50px 0;
}

.videos h1 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #fefefe;
    margin-bottom: 20px;
    margin-left: 50px;
}

.videos-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 14px;
    padding: 24px 0 24px 50px;
    overflow: hidden;
}

.video {
    z-index: 0;
    flex: 0 0 300px;
    height: 200px;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    opacity: .8;
}

.video i {
    display: table;
    margin: auto;
    height: 100%;
    color: white;
    font-size: 60px;
    pointer-events: none;
    opacity: .4;
    transition: all .8s;
}

.video i::before {
    display: table-cell;
    vertical-align: middle;
}

.video-title {
    position: absolute;
    bottom: 0;
    background-color: #b8916d;
    color: #efefef;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    translate: 0 100px;
    transition: all .25s;
    pointer-events: none;
}

/*
.video::after {
    content: "Tosca - Recondita armonia ";
    color: #fefefe;
    overflow: hidden;
    width: 100%;
    background-color: #b8916d;
    position: absolute;
    bottom: 0;
}*/

.v1 {
    background-image: url(resources/image/cover3.jpg);
    background-size: cover;
}

.v2 {
    background-image: url(resources/image/cover4.jpg);
    background-size: cover;
}

.v3 {
    background-image: url(resources/image/cover5.jpg);
    background-size: cover;
}

.v4 {
    background-image: url(resources/image/cover6.jpg);
    background-size: cover;
}

.v5 {
    background-image: url(resources/image/cover7.jpg);
    background-size: cover;
}

.v6 {
    background-image: url(resources/image/cover1.jpg);
    background-size: cover;
}