* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
}

.site-background {
    position: fixed;
    z-index: -100;
    width: 100vw;
    height: 100vh;
    filter: grayscale(1) blur(10px);
    background-image: url(resources/image/cover8.jpg);
    background-size: cover;
    background-position: center center;
}


.site-wrapper {
    max-width: 1400px;
    margin: auto;
    background-color: black;
    box-shadow: 0 0 30px black;
}

/* HERO */

.hero {
    padding: 160px 0 160px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1) ), url(resources/image/cover2.jpg);
    background-size: cover;
    background-position: right top;
    color: #fefefe;
    /*padding-left: 100px;*/
}

.hero h1 {
    font-family: 'Cinzel', serif;
    font-size: 40px;
    margin-bottom: 64px;

}

.hero h2 {
    font-family: 'Cinzel', serif;
    font-weight: 300;
    font-size: medium;
}

.hero button {
    padding: 10px 40px 10px 40px;
    background-color: transparent;
    border: 1px solid #fefefe ;
    color: #fefefe;
    font-family: 'Source Sans Pro', sans-serif;
}

/* INTRODUCTION */

.intro {
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: #e4e0de;
}

.intro-text {
    font-family: 'Cinzel', serif;
    flex: 1 1 400px;
    color: rgba(0, 0, 0, .6);
    padding: 50px 72px 50px 50px;
}

.intro-image {
    flex: 1 3 400px;
    min-height: 400px;
    background-image: url(resources/image/cover8.jpg);
    background-size: cover;
    background-position: center top;
    position: relative;
}

.intro-text h1 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #35302c;
    margin-bottom: 20px;
}

.intro-text > p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #35302c;
    text-align: justify;
}

.quote {
    margin-top: 50px;
    display: grid;
    color: #35302c;
    grid-template-columns: auto auto;
}

.quote::before {
    font-size: 100px;
    content: '\201c';
    color: #b8916d;
    padding-right: 20px;
    translate: 0 -30px;
    margin-bottom: -30px;
}

.quote .quote-text {
    font-family: 'Gelasio', serif;
    font-weight: lighter;
    font-size: 18px;
    text-align: justify;
}

.quote .quote-person {
    font-family: 'Gelasio', serif;
    font-weight: lighter;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 3;
}

.quote-person::before {
    content: '\2014\0020';
}

.top-of-image {
    background-color: rgba(0, 0, 0, .6);
    padding: 30px;
    color: #fefefe;
    margin: 0;
    position: absolute;
    bottom: 0;
}


/* VIDEOS */

.videos {
    display: flex;
}


